.content1
{
    border: 1px solid black; 
    height:auto;
    width: 74%;
    margin-top: 5px;
    margin-left: 5px;
    float: right;
}
.list1
{
    padding: 0;
    margin:0;
    list-style: none;
    width: 100%;
    /* box-shadow: 0 2px 70px 10 rgba(110,130,208, .18);
    border-radius: 5px;
    margin-bottom: 20px; */
    
}
.list1 li
{
    width: 90%;
    border: 1px solid black;
    margin: 23px;
    /* float: left; */
    /* background: pink; */
    height: 220px;
}
.list1 h5
{
    margin-top: 30px;
    margin-right: 500px;
    
}
.list1 h7 
{
    bottom: 60px;
    margin-right: 550px;
    word-spacing: 5px;
}
.list1 h8
{
    margin-top: 30px;
    margin-right: 600px;
}
.list1 button
{
    float: left;
    /* margin-bottom:90px; */
    /* left: 300px; */
   

    
}
.list1 li img
{
    float: left;
    width: 6%;
    padding-bottom:2px ;
    margin-left: 30px;
}
.list1 li a
{
    text-decoration: none;
}
.job-other-info
{
    position: relative;
    display: flex;
}